{{#isEnum}}{{^hasValidation}}{{^isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{^isEnum}}{{#hasValidation}}{{^isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{#isEnum}}{{#hasValidation}}{{^isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{^isEnum}}{{^hasValidation}}{{#isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{#isEnum}}{{^hasValidation}}{{#isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{^isEnum}}{{#hasValidation}}{{#isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}{{#isEnum}}{{#hasValidation}}{{#isNullable}}{{> model_templates/class_simple }}{{/isNullable}}{{/hasValidation}}{{/isEnum}}